<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
   <appSettings>
      <add key="TextFormat" value="TextFormat_minus"/>
      <add key="ConfigPathTxt" value = "C:\Users\enric.pedros\Desktop\alumnes.txt"/>
      <add key="ConfigPathJson" value = "C:\Users\enric.pedros\Desktop\alumnes.json"/>
      <add key="ConfigPathXml" value = "C:\Users\enric.pedros\Desktop\alumnes.xml"/>
    </appSettings>
</configuration>