<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    
<!-- CUSTOM  SMTP APPENDER
    //Define some output appenders
    <appender name="CustomSmtpAppender" type="Vueling.Common.Logic.LoggerAdapter.CustomSmtpAppender, Vueling.Common.Logic.LoggerAdapter">
        //Email Congfiguration
        <enableEmailSent value="false"/> //Set to true for sending Error Log
        <to value="someone@yahoo.com" /> //Multiple Email Address are separated by ';'
        <from value="someone@gmail.com" />
        <subject value="[Log::Rony Utility LogMsg AdapterPattern Log4net]" />       
        <smtpHost value="smtp.gmail.com" />
        <userName value="" />
        <password value="" />
        <smtpPort value="587"/>
        <enableSsl value="true"/>
        <smtpAuthentication value ="Basic"/>
        //Email Congfiguration

        <bufferSize value="512" />
        <lossy value="true" />
        <evaluator type="log4net.Core.LevelEvaluator,log4net">
            <threshold value="DEBUG"/>
        </evaluator>
        /*The filters are processed in order: 
                    1) match any WARN or higher messages
                    2) reject everything else*/
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="WARN" />
            <acceptOnMatch value="true" />
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />
        <layout type="log4net.Layout.PatternLayout,log4net">
            <header value="Rony Utility LogMsg AdapterPattern Log4net Log&#xD;&#xA;~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&#xD;&#xA;" />
            <footer value="&#xD;&#xA;~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&#xD;&#xA;" />
            <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
        </layout>
    </appender>
-->
    
    <!--"OFICIAL" SMTP APPENDER-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <enableEmailSent value="true"/> <!--Not in the origian copiable-->
    <to value="enric.pedros@atmira.com" />
    <from value="enric.pedros@atmira.com" />
    <subject value="test logging message" />
    <smtpHost value="SMTPServer.domain.com" />
    <bufferSize value="512" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
</appender>

<logger name="ErrorLogger">
    <level value="Error" />
    <appender-ref ref="FileAppender" />
</logger>
<logger name="EmailLogger">
    <level value="Error" />
    <appender-ref ref="SmtpAppender" />
</logger>
    
    
    <!--Log4Net - writing to windows event log-->
    <!--
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
        <param name="LogName" value="Application" />
        <param name="ApplicationName" value="RonyUtilityApplication" />
        <layout type="log4net.Layout.PatternLayout">
            <header value="Rony Utility LogMsg AdapterPattern Log4net Log&#xD;&#xA;~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&#xD;&#xA;" />
            <footer value="&#xD;&#xA;~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&#xD;&#xA;" />
            <conversionPattern value="%date [%3thread] %-5level - %message%newline" />
        </layout>
        /*<layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>*/
    </appender>
    -->
      
    
    
      <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  
  
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\studentlog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <!--
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite"/>
      <eventId value="5" />
      <eventCategory value="ErrorLogging" />
      <datePattern value="yyyy-MM-dd'.log'" />  
      -->
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        <!-- <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/> -->
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <!-- <appender-ref ref="console" /> -->
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="SmtpAppender"/>-->
    </root>
  </log4net>
</configuration>
